{
    "plugins": [
        "transform-flow-strip-types",
        "transform-object-rest-spread"
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ]
            ]
        },
        "production": {
            "plugins": [
                "external-helpers"
            ],
            "presets": [
                [
                    "es2015",
                    {
                        "modules": false
                    }
                ],
                "minify"
            ]
        }
    }
}